page-thanks {
        .thanks-img{
                padding: 25px;
                margin: 30px 0;
        }
        .rtlh2{
            text-align: center;
            font-size: 50px;
            color: white;
        }
        .rtlp{
                COLOR: whitesmoke;
                padding: 20px;
                text-align: center;
        }

        .hindi{
        font-family: 'AnmolLipi';
    }

     .urdu{
                    font-family: 'PakNastaleeq';
                    
                }

     .punjabi{
        font-family: 'AnmolLipiThickTight'
    }

}

