<!--
  Generated template for the Thanks page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="Local_Driving_Header" style="text-align: center;">
    <img src="assets/img/logo2.png" class="logo-img"/>
  </ion-navbar>
</ion-header>


<ion-content class="background-img">
  <div [hidden]="englishthanks">
    <h2 class="rtlh2">Thank you</h2>
    <p class="rtlp">You have successfully completed the test.</p>
  </div>

  <div [hidden]="urduthanks">
    <h2 class="rtlh2 urdu">شکریہ</h2>
    <p class="rtlp urdu">آپ کامیابی سے امتحان مکمل کر چکے ہیں.</p>
  </div>

  <div [hidden]="hindithanks">
    <h2 class="rtlh2 hindi">धन्यवाद</h2>
    <p class="rtlp hindi">आपने सफलतापूर्वक परीक्षण पूरा कर लिया है</p>
  </div>

 <div [hidden]="punjabithanks">
    <h2 class="rtlh2 punjabi">ਤੁਹਾਡਾ ਧੰਨਵਾਦ</h2>
    <p class="rtlp punjabi">ਤੁਸੀਂ ਟੈਸਟ ਸਫਲਤਾਪੂਰਵਕ ਪੂਰਾ ਕੀਤਾ ਹੈ</p>
  </div>
<div style="margin: 50px;">
  <button ion-button style="background: red; border-radius: 20px;" (click)="homepage()" block>Home</button>
</div>

</ion-content>
